*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(34, 34, 66);
    display: flex;
    justify-content: center;
}

.container{
    border: 2px solid pink;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputBox{
    position: relative;
}

.container input{
    width: 310px;
    height: 40px;
    font-size: 20px;
    padding-right: 40px;
}

.container img{
    position: absolute;
    right: 5px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
}

